<!DOCTYPE html>
<html>
<head>
  <title>Sobre AllCare</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Styles -->
  <link href="assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/compiled/bootstrap-overrides.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="assets/css/compiled/theme.css" />

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

  <link rel="stylesheet" href="assets/css/compiled/about.css" type="text/css" media="screen" />
  <link rel="stylesheet" type="text/css" href="assets/css/lib/animate.css" media="screen, projection" />
  <link rel="stylesheet" href="assets/css/lib/flexslider.css" type="text/css" media="screen" />

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <img src="assets/img/backgrounds/aba.jpg" />
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">

        <li><a href="homes">HOME</a></li>
        <li><a href="abouts">SOBRE</a></li>
        <li><a href="services">SERVIÇOS</a></li>
        <li><a href="softwares">SOFTWARE</a></li>
        <li><a href="clients">CLIENTES</a></li>
        <li><a href="partners">PARCEIROS</a></li>
        <li><a href="news">NOTICIAS</a></li>
        <li><a href="contacts">CONTATO</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="features" class="features_page">
  <div class="container">
    <!-- Feature Wrapper -->


    <!-- Feature Wrapper -->
    <div class="feature_wrapper option2">
      <div class="section_header">
        <h3>Serviços </h3>
      </div>

      <!-- Features Row -->
      <div class="row">
        <!-- Feature -->
        <div class="col-sm-6 feature right">
          <div class="box">
            <img class="two" src="assets/img/features-ico7.png" />
          </div>
          <div class="text">
            <h6>Gestão na área médica e hospitalar </h6>
            <p>
              Nossos consultores com mais de 35 anos de experiência, auxiliam no planejamento, na adequação das informações e no gerenciamento eficiente das complexas atividades das instituições de saúde, garantindo a organização, definição e melhoria dos processos de sua clinica médica ou hospital.
          </div>
        </div>

        <div class="col-sm-6 feature right">
          <div class="box">
            <img class="two" src="assets/img/features-ico7.png" />
          </div>
          <div class="text">
            <h6>Gestão financeira, de pessoas e de processos </h6>
            <p>
              A All Care, como uma empresa do grupo RG Contadores, com 30 anos de experiência no

              mercado, oferece a você os serviços de gestão financeira, de pessoas, e de processos, através

              de nossos consultores especializados, capazes de identificar os problemas e gargalos de sua

              empresa, sugerindo e melhorando os serviços e processos.</p>
          </div>
        </div>


        <!-- Feature -->

      </div>

      <!-- Features Row -->
      <div class="row last">
        <!-- Feature -->
        <div class="col-sm-6 feature">
          <div class="box">
            <img class="two" src="assets/img/features-ico2.png" />
          </div>
          <div class="text">
            <h6>Acessoria jurídica médico-hospitalar </h6>
            <p>
              Contamos com parceiros especializados na área médico-hospitalar, capazes de acessorar

              juridicamente sua empresa perante qualquer problema que possa vir a enfrentar,

              apresentando de maneira

              cada situação.          </div>
        </div>
        <!-- Feature -->

        <div class="col-sm-6 feature">
          <div class="box">
            <img class="two" src="assets/img/features-ico4.png" />
          </div>
          <div class="text">
            <h6>Software ERP na área da saúde </h6>
            <p>
              A necessidade de uma maior organização das informações, bem como necessidade de inter-
              relacionar as atividades da intituição contribuíram para transformar os sistemas funcionais

              em sistemas integrados, ativos e inteligentes, capazes de gerir todos os setores da empresa,

              auxiliando na tomada de decisão.
          </div>
        </div>

        <div class="col-sm-6 feature right">
          <div class="box">
            <img class="two" src="assets/img/features-ico6.png" />
          </div>
          <div class="text">
            <h6>Planejamento estratégico para consultórios, clínicas e hospitais </h6>
            <p>
              Um dos principais desafios das instituições de saúde é coordenar os muitos e complexos

              processos que nelas acontecem. Para isso a All Care conta com uma equipe especializada em

              planejamento estratégico, capaz de organizar o gerenciamento, facilitando a comunicação,

              compreensão e implementação das estratégias para sua instituição.
          </div>
        </div>

        <div class="col-sm-6 feature right">
          <div class="box">
            <img class="two" src="assets/img/features-ico6.png" />
          </div>
          <div class="text">
            <h6>NF-e </h6>

            <p>Portal de documentos fiscais eletrônicos. A maneira mais fácil, segura a prática de armazenar suas <a href="http://nfe.allcaresolucoes.com.br" target="_blank"><strong>NFes</strong></a>; Totalmente na núvem, o sistema possibilita além do armazenamento o gerenciamento de seus documentos, com a possibilidade ainda de distribuição de documentos fiscais a clientes e envio por e-mail.</p>
          </div>
        </div>

      </div>
    </div>

    <!-- Feature Wrapper -->

  </div>
</div>



<!-- starts footer -->
<footer id="footer">
  <div class="container">
    <div class="row info">
      <div class="col-sm-12 residence">
        <ul>
          <li><p align="center">Avenida Almirante Tamandaré, 94 - Sala 1007 - Coqueiros</p></li>
          <li><p align="center">Florianópolis, SC, Brasil - CEP 88.080-160 - (48) 3037-1200</p></li>
        </ul>
      </div>
    </div>
    <div class="row credits">
      <div class="col-md-12">
        <div class="row social">
          <div class="col-md-12">
            <a href="https://www.facebook.com/pages/All-Care-Solu%C3%A7%C3%B5es-Empresariais/337194383122837" class="facebook">
              <span class="socialicons ico1"></span>
              <span class="socialicons_h ico1h"></span>
            </a>

          </div>
        </div>
        <div class="row copyright">
          <div class="col-md-12">

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/theme.js"></script>
<script type="text/javascript" src="assets/js/flexslider.js"></script>
</body>
</html>