<!DOCTYPE html>
<html>
<head>
  <title>Cliente AllCare</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Styles -->
  <link href="assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/compiled/bootstrap-overrides.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="assets/css/compiled/theme.css" />

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

  <link rel="stylesheet" href="assets/css/compiled/blog.css" type="text/css" media="screen" />

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <img src="assets/img/backgrounds/aba.jpg" />
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="homes">HOME</a></li>
        <li><a href="abouts">SOBRE</a></li>
        <li><a href="services">SERVIÇOS</a></li>
        <li><a href="softwares">SOFTWARE</a></li>
        <li><a href="clients">CLIENTES</a></li>
        <li><a href="partners">PARCEIROS</a></li>
        <li><a href="news">NOTICIAS</a></li>
        <li><a href="contacts">CONTATO</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="blog">
<div class="container">
    <div class="section_header">
      <h3>Parceiros</h3>
    </div>

<!-- Post Row -->
<div class="row post_row">
  <!-- Post -->
  <div class="col-sm-6">
    <div class="post">
      <div class="img">
        <a href="http://www.rgcontadores.com.br/" target="_blank">
          <img src="assets/img/clientes/rg.jpg" alt="" class="img-responsive" />
        </a>
      </div>
      <div class="text">
        <h5><a href="http://www.rgcontadores.com.br/" target="_blank">RG Contadores Associados</a></h5>
        <!--<span class="date">Wed, 12 Dec.</span>-->
        <p>
          Desde 1984 no mercado, a RG Contadores é uma referência na prestação

          de serviços contábeis, atendendo a empresas dos mais variados portes e

          segmentos econômicos. A RG Contadores oferece serviços de qualidade para

          garantir a máxima satisfação dos clientes, auxiliar na tomada de decisão e

          possibilitar quantificação do desempenho empresarial.

          Além dos procedimentos rotineiros como escrituração contábil e fiscal,

          folha de pagamento, abertura e encerramento de empresas, cálculo de

          tributos, comprimento das obrigações acessórias, assessoria contábil, fiscal

          e trabalhista, oferece serviço que proporcionam verdadeiros diferenciais para

          alavancar o resultado das empresas, tais como: planejamento e assessoria

          tributária, contabilidade gerencial e atendimento empresarial personalizado.</p>

      </div>
      <div class="author_box">

      </div>

    </div>
  </div>
  <div class="col-sm-6">
    <div class="post">
      <div class="img">
        <a href="http://www.micrologos.com.br" target="_blank">
          <img src="assets/img/clientes/micrologos.gif" alt="" class="img-responsive" />
        </a>
      </div>
      <div class="text">

        <h5><a href="http://www.micrologos.com.br" target="_blank">Micrologos</a></h5>

        <p>
          Desde 1983, a micrologos tem como objetivo desenvolver software que

          agregam ao negócio dos seus clientes e promovem o bem comum nas

          respectivas áreas de atuação. Atualmente mantém sua essência especialidada

          em soluções para área da saúde.</p>

      </div>
      <div class="author_box">

      </div>

    </div>
  </div>

  <!-- Post -->


  <!-- Post -->

</div>

    <div class="row post_row">
      <!-- Post -->
      <div class="col-sm-6">
        <div class="post">
          <div class="img">
            <a href="http://www.nkadvocacia.com.br/" target="_blank">
              <img src="assets/img/clientes/nk.png" alt="" class="img-responsive" />
            </a>
          </div>
          <div class="text">

            <h5><a href="http://www.nkadvocacia.com.br/" target="_blank">Nemetz & Kuhnen Advocacia</a></h5>
            <!--<span class="date">Wed, 12 Dec.</span>-->
            <p>
              Todos precisam de soluções seguras, mas que também sejam rápidas e

              criativas para que situações cada vez mais sofisticadas e complexas possam

              ser gerenciadas e obtido o melhor resultado possível.

              Em função da necessidade de criar um ambiente envolto em critérios de

              excelência, segurança e confiabilidade, desenvolvemos consultorias e

              assessorias especializadas para atuação nas seguintes áreas: empresarial,

              médico e da saúde, família e sucessões, contencioso e resoluções de conflitos,

              penal especial e econômico, ambiental, desportivo e entretenimento.</p>

          </div>
          <div class="author_box">

          </div>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="post">
          <div class="img">
            <a href="http://www.cbadata.com.br" target="_blank">
              <img src="assets/img/clientes/cbadata.jpg" alt="" class="img-responsive" />
            </a>
          </div>
          <div class="text">

            <h5><a href="http://www.cbadata.com.br" target="_blank">CBA Data</a></h5>

            <p>
              A Cbadata está representada pela razão social CBA Sistemas LTDA, a qual, desde 2002, trabalha com soluções na área de software e tecnologia da informação.

              A Cbadata trabalha com vendas de software, projetos customizados na área de Tecnologia da Informação
              com foco em Segurança da Informação, virtualização, continuidade de negócios e Data Center.</p>
          </div>
          <div class="author_box">

          </div>

        </div>
      </div>

    </div>
    <div class="row post_row">
      <!-- Post -->
      <div class="col-sm-6">
        <div class="post">
          <div class="img">
            <a href="http://www.cassol.com.br/" target="_blank">
              <img src="assets/img/clientes/cassol.png" alt="" class="img-responsive" />
            </a>
          </div>
          <div class="text">

            <h5><a href="http://www.cassol.com.br/" target="_blank">Cassol & Lima</a></h5>
            <!--<span class="date">Wed, 12 Dec.</span>-->
            <p>
              Em 2001, o grupo Cassol & Lima Advogados Associados iniciou como um pequeno sonho de família e aos poucos, com trabalho, dedicação e estudo foi se solidificando no mundo jurídico. O atendimento simples e cordial, mas seguro e confiável, tratou de jogar ao vento nosso nome. Em bem pouco tempo, a elevada gama de clientes satisfeitos era responsável por identificar o escritório na grande Florianópolis com consistência e credibilidade, tornando-nos, hoje, um referencial.

            </p>

          </div>
          <div class="author_box">

          </div>

        </div>
      </div>
    </div>

<!-- Post Row -->


<!-- Post Row -->

<!--<div class="paginator-container">-->
<!--<ul class="pagination">-->
<!--<li><a href="#">Prev</a></li>-->
<!--<li><a href="#">1</a></li>-->
<!--<li><a href="#">2</a></li>-->
<!--<li><a href="#">3</a></li>-->
<!--<li><a href="#">4</a></li>-->
<!--<li><a href="#">Next</a></li>-->
<!--</ul>-->
<!--</div>-->
</div>
</div>

<!-- starts footer -->
<footer id="footer">
  <div class="container">
    <div class="row info">
      <div class="col-sm-12 residence">
        <ul>
          <li><p align="center">Avenida Almirante Tamandaré, 94 - Sala 1007 - Coqueiros</p></li>
          <li><p align="center">Florianópolis, SC, Brasil - CEP 88.080-160 - (48) 3037-1200</p></li>
        </ul>
      </div>
    </div>
    <div class="row credits">
      <div class="col-md-12">
        <div class="row social">
          <div class="col-md-12">
            <a href="https://www.facebook.com/pages/All-Care-Solu%C3%A7%C3%B5es-Empresariais/337194383122837" class="facebook">
              <span class="socialicons ico1"></span>
              <span class="socialicons_h ico1h"></span>
            </a>

          </div>
        </div>
        <div class="row copyright">
          <div class="col-md-12">

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/theme.js"></script>
</body>
</html>