<!DOCTYPE html>
<html>
<head>
  <title>Cliente AllCare</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Styles -->
  <link href="assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/compiled/bootstrap-overrides.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="assets/css/compiled/theme.css" />

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

  <link rel="stylesheet" href="assets/css/compiled/blog.css" type="text/css" media="screen" />

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <img src="assets/img/backgrounds/aba.jpg" />
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="homes">HOME</a></li>
        <li><a href="abouts">SOBRE</a></li>
        <li><a href="services">SERVIÇOS</a></li>
        <li><a href="softwares">SOFTWARE</a></li>
        <li><a href="clients">CLIENTES</a></li>
        <li><a href="partners">PARCEIROS</a></li>
        <li><a href="news">NOTICIAS</a></li>
        <li><a href="contacts">CONTATO</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="blog">
<div class="container">
<div class="section_header">
  <h3>Clientes - Gestão</h3>
</div>
<div class="row post_row">
  <div class="col-sm-4">
    <div class="post">
      <div class="img">
        <a href="http://www.ortoclini.com.br" target="_blank">
          <img src="assets/img/clientes/ortoclini.png" alt="" class="img-responsive" />
        </a>
      </div>
      <div class="text">

        <h5><a href="http://www.ortoclini.com.br" target="_blank">Ortoclini</a></h5>

        <p>
          A Ortoclini, clínica de ortopedia ha mais de 35 anos prestando serviços em

          ortopedia e traumatologia, está localizada no Centro de Florianópolis, equipada

          para atender a grande demanda na área. Prestando diagnósticos e cirurgias

          nas mais diferentes especialidades dentro a Ortopedia e Traumatologia.</p>


        <br>

      </div>
      <!--<div class="author_box">-->
        <!--<h6>Alejandra Galvan</h6>-->
        <!--<p>Creative Director</p>-->
      <!--</div>-->
      <a class="plus_wrapper" href="http://www.ortoclini.com.br" target="_blank">
        <span>&#43;</span>
      </a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="post">
      <div class="img">
        <a href="http://www.socimed.com.br/" target="_blank">
          <img src="assets/img/clientes/socimed.png" alt="" class="img-responsive" />
        </a>
      </div>
      <div class="text">

        <h5><a href="http://www.socimed.com.br/" target="_blank">Socimed</a></h5>
        <!--<span class="date">Wed, 12 Dec.</span>-->
        <p>
          O Hospital e Maternidade Socimed surgiu do anseio de um grupo de médicos

          em construir um hospital cujo foco principal estaria voltado para um ambiente

          de trabalho humanizado e de excelência, mudando os conceitos de serviço

          de saúde até então utilizados e oferecendo aos seus pacientes serviços em

          diversas especialidades médicas.</p>
        <br>

      </div>
      <!--<div class="author_box">-->
      <!--<h6>Alejandra Galvan</h6>-->
      <!--<p>Creative Director</p>-->
      <!--</div>-->
      <a class="plus_wrapper" href="http://www.socimed.com.br/" target="_blank">
        <span>&#43;</span>
      </a>
    </div>
  </div>

  <!-- Post -->
  <div class="col-sm-4">
    <div class="post">
      <div class="img">
        <a href="http://www.cmcsc.com.br/" target="_blank">
          <img src="assets/img/clientes/cmc.png" alt="" class="img-responsive" />
        </a>
      </div>
      <div class="text">

        <h5><a href="http://www.cmcsc.com.br/" target="_blank">CMC</a></h5>
        <!--<span class="date">Wed, 12 Dec.</span>-->
        <p>
          O CMC é um espaço médico que se dedica exclusivamente ao tratamento de

          queixas relacionadas a problemas dos cabelos e couro cabeludo, desde 2007.

          Oferecendo aos seus pacientes variedade de tratamentos capilares, dispondo

          de tecnologia de ponta para: Transplante capilar, Queda de cabelo, Doenças

          do couro cabeludo, cabelos e pelos.</p>
        <br>

      </div>
      <!--<div class="author_box">-->
      <!--<h6>Alejandra Galvan</h6>-->
      <!--<p>Creative Director</p>-->
      <!--</div>-->
      <a class="plus_wrapper" href="http://www.cmcsc.com.br/" target="_blank">
        <span>&#43;</span>
      </a>
    </div>
  </div>

</div>

<!-- Post Row -->
<div class="row post_row">
  <!-- Post -->
  <div class="col-sm-4">
    <div class="post">
      <div class="img">
        <a href="http://www.fepese.org.br/" target="_blank">
          <img src="assets/img/clientes/fepese.png" alt="" class="img-responsive" />
        </a>
      </div>
      <div class="text">
        <h5><a href="http://www.fepese.org.br/" target="_blank">FEPESE</a></h5>
        <!--<span class="date">Wed, 12 Dec.</span>-->
        <p>
          A FEPESE – Fundação de Estudos e Pesquisas Socioeconômicos , fundada

          em 26 de outubro de 1977 por 70 (setenta) professores da Universidade

          Federal de Santa Catarina das áreas de economia, administração e ciências

          contábeis, com o objetivo de coordenar e executar pesquisas, ensinar e prestar

          serviços de interesse comunitário na área econômica e social e aperfeiçoar

          professores e alunos do Centro Sócio Econômico e das demais áreas da

          Universidade Federal de Santa Catarina.</p>
        <br>
      </div>
      <!--<div class="author_box">-->
        <!--<h6>Alejandra Galvan</h6>-->
        <!--<p>Creative Director</p>-->
      <!--</div>-->
      <a class="plus_wrapper" href="http://www.fepese.org.br/" target="_blank">
        <span>&#43;</span>
      </a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="post">
      <div class="img">
        <a href="http://www.uromed.com.br" target="_blank">
          <img src="assets/img/clientes/uromed.png" alt="" class="img-responsive" />
        </a>
      </div>
      <div class="text">
        <h5><a href="http://www.uromed.com.br" target="_blank">Uromed</a></h5>
        <!--<span class="date">Wed, 12 Dec.</span>-->
        <p>
          A UROMED é uma clínica de profissionais especialistas em Urologia.

          As áreas específicas dentro do escopo da Urologia são exercidas em regime de dedicação exclusiva de modo a oferecer aos pacientes atendimento com máximo poder de resolução.

          O corpo clínico da UROMED é fixo, composto por 12 médicos de reconhecida capacidade dentro da urologia geral e dentro de cada uma das áreas específicas de atuação.

          A objetividade é uma das características da UROMED. As informações apresentadas nesse site são especificamente institucionais.
        </p>
        <br>
      </div>
      <!--<div class="author_box">-->
      <!--<h6>Alejandra Galvan</h6>-->
      <!--<p>Creative Director</p>-->
      <!--</div>-->
      <a class="plus_wrapper" href="http://www.uromed.com.br" target="_blank">
        <span>&#43;</span>
      </a>
    </div>
  </div>
</div>


<div id="blog">
  <div class="container">
    <div class="section_header">
      <h3>Clientes - Software</h3>
    </div>

    <div class="row post_row">
<div class="col-sm-4">
  <div class="post">
    <div class="img">
      <a href="http://hofpolis.com.br/" target="_blank">
        <img src="assets/img/clientes/hof.png" alt="" class="img-responsive" />
      </a>
    </div>
    <div class="text">
      <h5><a href="http://hofpolis.com.br/" target="_blank">HOF</a></h5>
      <!--<span class="date">Wed, 12 Dec.</span>-->
      <p>
        O Hospital de Olhos de Florianópolis é referência no setor oftalmológico do

        sul do país. Localizado no centro da cidade. Conta com uma Infraestrutura

        completa com atendimento de sobreaviso 24h, recepções, consultórios, salas

        de pré-exames, centro de diagnóstico e cirúrgico, internação, equipamentos de

        última geração e profissionais atualizados.</p>
      <br>

    </div>
    <!--<div class="author_box">-->
    <!--<h6>Alejandra Galvan</h6>-->
    <!--<p>Creative Director</p>-->
    <!--</div>-->
    <a class="plus_wrapper" href="http://hofpolis.com.br/" target="_blank">
      <span>&#43;</span>
    </a>
  </div>
</div>

<!-- Post -->
<div class="col-sm-4">
  <div class="post last">
    <div class="img">
      <a href="http://www.clinicabonfante.com.br/" target="_blank">
        <img src="assets/img/clientes/db.jpg" alt="" class="img-responsive" />
      </a>
    </div>
    <div class="text">
      <h5><a href="http://www.clinicabonfante.com.br/" target="_blank">Clinica de olhos Dr. Delso Bonfante</a></h5>
      <!--<span class="date">Wed, 12 Dec.</span>-->
      <p>
        Desde a sua fundação, em 1995, pelo médico oftalmologista Dr. Delso

        Bonfante, a Clínica de Olhos sempre buscou a qualidade de vida de seus

        pacientes, oferecendo a eles os melhores tratamentos, sempre visando a

        competência e eficiência de toda a equipe, gerando assim a satisfação plena

        de seus clientes.</p>
      <br>

    </div>
    <a class="plus_wrapper" href="http://www.clinicabonfante.com.br/" target="_blank">
      <span>&#43;</span>
    </a>
  </div>
</div>

      <div class="col-sm-4">
        <div class="post last">
          <div class="img">
            <a href="http://www.climama.com.br/" target="_blank">
              <img src="assets/img/clientes/climama.jpg" alt="" class="img-responsive" />
            </a>
          </div>
          <div class="text">
            <h5><a href="http://www.climama.com.br/" target="_blank">Climama</a></h5>
            <!--<span class="date">Wed, 12 Dec.</span>-->
            <p>
              A Climama – Clínica Integrada da Mama - foi criada em 1998, pelo desejo de um grupo de médicos de proporcionar aos pacientes o que existe de melhor em diagnóstico e tratamento oncológico. Desde então, a Climama se especializou em oferecer o tratamento completo aos seus pacientes, com a possibilidade de diagnóstico precoce, acompanhamento durante a realização de qualquer procedimento e após o mesmo.</p>
            <br>

          </div>
          <a class="plus_wrapper" href="http://www.climama.com.br/" target="_blank">
            <span>&#43;</span>
          </a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="post last">
          <div class="img">
            <a href="http://www.clinicasoma.com.br/" target="_blank">
              <img src="assets/img/clientes/soma.png" alt="" class="img-responsive" />
            </a>
          </div>
          <div class="text">
            <h5><a href="http://www.clinicasoma.com.br/" target="_blank">Soma</a></h5>
            <!--<span class="date">Wed, 12 Dec.</span>-->
            <p>
              A Clínica Soma foi fundada em 01 de setembro de 1999 por um grupo de médicos. Os serviços no início eram prestados em uma estrutura pequena, e futuramente houve a mudança para a Rua São Francisco. A Clínica prosperou e foi preciso adequar as instalações para melhor atender aos pacientes, precisando novamente da mudança de local.
            </p>
            <br>

          </div>
          <a class="plus_wrapper" href="http://www.clinicasoma.com.br/" target="_blank">
            <span>&#43;</span>
          </a>
        </div>
      </div>

</div>
</div>
</div>

</div>
</div>

<!-- starts footer -->
<footer id="footer">
  <div class="container">
    <div class="row info">
      <div class="col-sm-12 residence">
        <ul>
          <li><p align="center">Avenida Almirante Tamandaré, 94 - Sala 1007 - Coqueiros</p></li>
          <li><p align="center">Florianópolis, SC, Brasil - CEP 88.080-160 - (48) 3037-1200</p></li>
        </ul>
      </div>
    </div>
    <div class="row credits">
      <div class="col-md-12">
        <div class="row social">
          <div class="col-md-12">
            <a href="https://www.facebook.com/pages/All-Care-Solu%C3%A7%C3%B5es-Empresariais/337194383122837" class="facebook">
              <span class="socialicons ico1"></span>
              <span class="socialicons_h ico1h"></span>
            </a>

          </div>
        </div>
        <div class="row copyright">
          <div class="col-md-12">

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/theme.js"></script>
</body>
</html>