<!DOCTYPE html>
<html>
<head>
  <title>Cliente AllCare</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Styles -->
  <link href="assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/compiled/bootstrap-overrides.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="assets/css/compiled/theme.css" />

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

  <link rel="stylesheet" href="assets/css/compiled/blog.css" type="text/css" media="screen" />

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <img src="assets/img/backgrounds/aba.jpg" />
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="homes">HOME</a></li>
        <li><a href="abouts">SOBRE</a></li>
        <li><a href="services">SERVIÇOS</a></li>
        <li><a href="softwares">SOFTWARE</a></li>
        <li><a href="clients">CLIENTES</a></li>
        <li><a href="partners">PARCEIROS</a></li>
        <li><a href="news">NOTICIAS</a></li>
        <li><a href="contacts">CONTATO</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="blog">
  <div class="container">
    <div class="section_header">
      <h3>Noticias</h3>
    </div>

    <!-- Post Row -->
    <div class="row post_row">
      <!-- Post -->
      <div class="col-sm-12">
        <div class="post">
          <div class="text">
            <h5><a href="http://www.correio24horas.com.br/detalhe/noticia/ministro-da-saude-diz-que-feira-de-santana-enfrenta-epidemia-de-chikungunya/?cHash=d8d00f0e829a034b7907a57ccd7b268d" target="_blank">Ministro da Saúde diz que Feira de Santana enfrenta epidemia de Chikungunya</a></h5>
            <p>
              O ministro da Saúde Arthur Chioro esteve em Salvador nesta quinta-feira (2) e afirmou que os 33 casos da febre Chikungunya registrados em Feira de Santana já configuram uma epidemia da doença.

              Chioro pediu apoio à população para combater a doença, afirmando que é responsabilidade também da sociedade evitar novos casos. "É preciso que cada um faça a sua parte", destacou o ministro...
            </p>
          </div>
        </div>
      </div>
      <br>
      <div class="col-sm-12">
        <div class="post">
          <div class="text">
            <h5><a href="http://www.correio24horas.com.br/detalhe/noticia/ministro-da-saude-diz-que-feira-de-santana-enfrenta-epidemia-de-chikungunya/?cHash=d8d00f0e829a034b7907a57ccd7b268d" target="_blank">EU SOU VIDA – A importância da mulher se cuidar</a></h5>
            <p>
              Chegamos no mês mais rosa do ano, o outubro. Mais conhecido como Outubro Rosa, o décimo mês carrega a responsabilidade de conscientizar a população sobre o Câncer de Mama...
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- starts footer -->

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/theme.js"></script>
</body>
<footer id="footer">
  <div class="container">
    <div class="row info">
      <div class="col-sm-12 residence">
        <ul>
          <li><p align="center">Avenida Almirante Tamandaré, 94 - Sala 1007 - Coqueiros</p></li>
          <li><p align="center">Florianópolis, SC, Brasil - CEP 88.080-160 - (48) 3037-1200</p></li>
        </ul>
      </div>
    </div>
    <div class="row credits">
      <div class="col-md-12">
        <div class="row social">
          <div class="col-md-12">
            <a href="https://www.facebook.com/pages/All-Care-Solu%C3%A7%C3%B5es-Empresariais/337194383122837" class="facebook">
              <span class="socialicons ico1"></span>
              <span class="socialicons_h ico1h"></span>
            </a>

          </div>
        </div>
        <div class="row copyright">
          <div class="col-md-12">

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</html>