<!DOCTYPE html>
<html>
<head>
  <title>Contatos AllCare</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Styles -->
  <link href="assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/compiled/bootstrap-overrides.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="assets/css/compiled/theme.css" />

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

  <link rel="stylesheet" href="assets/css/compiled/contact.css" type="text/css" media="screen" />
  <link rel="stylesheet" type="text/css" href="assets/css/lib/animate.css" media="screen, projection" />

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <img src="assets/img/backgrounds/aba.jpg" />
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="homes">HOME</a></li>
        <li><a href="abouts">SOBRE</a></li>
        <li><a href="services">SERVIÇOS</a></li>
        <li><a href="softwares">SOFTWARE</a></li>
        <li><a href="clients">CLIENTES</a></li>
        <li><a href="partners">PARCEIROS</a></li>
        <li><a href="news">NOTICIAS</a></li>
        <li><a href="contacts">CONTATO</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="contact">
  <div class="container">
    <div class="section_header">
      <h3>Contato</h3>
    </div>
    <div class="row contact">
      <p>
        Entre em contato conosco, para esclarecer suas dúvidas.

      <form action="http://formmail.kinghost.net/formmail.cgi" method="POST">
        <input type="hidden" name="recipient" value="allcare@allcaresolucoes.com.br">
        <input type="hidden" name="redirect" value="http://www.allcaresolucoes.com.br/contacts">
        <input type="hidden" name="subject" value="Contato Via Site">
        <input type="hidden" name="email" value="allcare@allcaresolucoes.com.br">

        <div class="row form">
          <div class="col-sm-6 row-col">
            <div class="box">
              <input class="name form-control" type="text" placeholder="Nome" name="nome">
              <input class="mail form-control" type="text" placeholder="Email" name="replyto">
              <!--<input class="phone form-control" type="text" placeholder="Telefone" >-->
            </div>
          </div>
          <div class="col-sm-6">
            <div class="box">
              <textarea placeholder="Escreva sua mensagem aqui" class="form-control" name="Comentarios"></textarea>
            </div>
          </div>
        </div>

        <div class="row submit">
          <!--<div class="col-md-5 box">-->
            <!--<label class="checkbox">-->
              <!--<input type="checkbox"> Sign up for newsletter-->
            <!--</label>-->
          <!--</div>-->
          <div class="col-md-3 right">
            <input type="submit" value="Enviar mensagem" name="BTEnvia">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="map">
    <!--<div class="container">-->
      <!--<div class="box_wrapp">-->
        <!--<div class="box_cont">-->
          <!--<div class="head">-->
            <!--<h6>Localização</h6>-->
          <!--</div>-->
          <!--<ul class="street">-->
            <!--<li>Avenida Almirante Tamandaré, 94 - Sala 1007</li>-->
            <!--<li>Florianopolis, Coqueiros. SC,</li>-->
            <!--<li>CEP 88.080-160</li>-->
            <!--<li class="icon icontop">-->
              <!--<span class="contacticos ico1"></span>-->
              <!--<span class="text">(48) 3037-1200</span>-->
            <!--</li>-->
            <!--<li class="icon">-->
              <!--<span class="contacticos ico2"></span>-->
              <!--<a class="text" href="#">allcare@allcaresolucoes.com.br</a>-->
            <!--</li>-->
          <!--</ul>-->



          <!--&lt;!&ndash;<a href="#" class="btn">Let's get started</a>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=allcare%20solu%C3%A7%C3%B5es&key=AIzaSyDKCSwk-pP3YNm7KscwV8vOppmLEGUq5qI"></iframe>
  </div>
</div>

<!-- starts footer -->
<footer id="footer">
  <div class="container">
    <div class="row info">
      <div class="col-sm-6 residence">
        <ul>
          <li><p align="center">Avenida Almirante Tamandaré, 94 - Sala 1007 - Coqueiros</p></li>
          <li><p align="center">Florianópolis, SC, Brasil - CEP 88.080-160 - (48) 3037-1200</p></li>
        </ul>
      </div>
    </div>
    <div class="row credits">
      <div class="col-md-12">
        <div class="row social">
          <div class="col-md-12">
            <a href="https://www.facebook.com/pages/All-Care-Solu%C3%A7%C3%B5es-Empresariais/337194383122837" class="facebook">
              <span class="socialicons ico1"></span>
              <span class="socialicons_h ico1h"></span>
            </a>

          </div>
        </div>
        <div class="row copyright">
          <div class="col-md-12">

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/theme.js"></script>
</body>
</html>