<!DOCTYPE html>
<html>
<head>
	<title>Sobre AllCare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Styles -->
    <link href="assets/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/compiled/bootstrap-overrides.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="assets/css/compiled/theme.css" />

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" href="assets/css/compiled/about.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="assets/css/lib/animate.css" media="screen, projection" />
    <link rel="stylesheet" href="assets/css/lib/flexslider.css" type="text/css" media="screen" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
     <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

              <img src="assets/img/backgrounds/aba.jpg" />
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">

                  <li><a href="homes">HOME</a></li>
                  <li><a href="abouts">SOBRE</a></li>
                  <li><a href="services">SERVIÇOS</a></li>
                  <li><a href="softwares">SOFTWARE</a></li>
                  <li><a href="clients">CLIENTES</a></li>
                  <li><a href="partners">PARCEIROS</a></li>
                  <li><a href="news">NOTICIAS</a></li>
                  <li><a href="contacts">CONTATO</a></li>
                </ul>
            </div>
        </div>
    </div>



    <div id="process">
        <div class="container">
            <div class="section_header">
                <h3>Nosso Software</h3>
            </div>
            <div class="row services_circles">
                <div class="col-sm-4 description">
                    <div class="text active">
                        <h4>Clinic Master ASP</h4>
                        <p>Administrar sua clinica, independente do número de filiais. gerenciar processos e compartilhar informações agora vai ficar sob seu controle total. É o Clinic Master ASP, a ferramenta ideal para integrar computadores e pessoas de um modo inteligente, amigavel e dinâmico</p>

                        <h5>Funcionalidades</h5>
                        <p>- Agenda; Recepção; PEP Certificado Digital; Centro Cirúrgico; Faturamento; Envio Convênio TISS; Controle de Glosas; Recebimento de Particular; Repasse Médico; Central de Imagens Multimídia;</p>
                    </div>
                    <div class="text">
                      <h4>Cash Master ASP</h4>
                      <p>Este sistema tem como principal função a gestão financeira de múltiplas empresas, visando controlar os títulos a pagar, a receber, cobranças bancárias, contas bancárias, transações programadas e projetos, proporcionando uma visão global e integrada das atividades financeiras da instituição</p>

                      <h5>Funcionalidades</h5>
                      <p>- Contas a Pagar e Receber; Despesas Recorrentes; Conciliação Bancária; Controle por Projeto, Centro de Custo e Cartão de Crédito</p>
                    </div>
                    <div class="text">
                        <h4>Estoque Master ASP</h4>
                        <p>Obtenha controle absoluto de materias em múltiplos estoque a partir da solicitação de compra, cotação de preços, pedido de compra, notas fiscais de entrada e transferências. Com o Estoque Master ASP, você gerencia as atividades que resultam na movimentação de estoques na sua organização com precisão e eficiência.</p>

                        <h5>Funcionalidades</h5>
                        <p>- Gestão de Estoque, Controle de Consignados, Dispensação integrada ao faturamento, Gestão de Compras, Controle de Carta de Crédito, Estatistíca de Custos, Cotação de Preços</p>
                    </div>
                    <div class="text">
                        <h4>Aplicações Web.</h4>
                        <p>Laudo, PEP, Agendamento, Pesquisa de Satisfação, Confirmação de Paciente</p>

                        <h4>Outros Serviços.</h4>
                        <p>TOTEM, TV, E-mail, NFE, SMS Informação ao Paciente, Correio</p>
                    </div>
                </div>

                <div class="col-sm-7 areas">
                    <div class="circle active">
                        <img src="assets/img/clinic.png" />
                        <h4>Clinic</h4>
                    </div>
                    <div class="circle">
                        <img src="assets/img/cash.png" />
                        <h4>Cash</h4>
                    </div>
                    <div class="circle">
                        <img src="assets/img/estoque.png" />
                        <h4>Estoque</h4>
                    </div>
                    <div class="circle last_circle">
                        <img src="assets/img/aplicacoes.png" />
                        <h5>Web/Serviços</h5>
                    </div>
                </div>

            </div>
          <div class="col-sm-3 areas">
            <p align="center">Distribuidor autorizado</p>
              <img src="assets/img/clientes/micro2.jpg" alt="" class="img-responsive" />
          </div>
        </div>
    </div>

    <!-- starts footer -->


    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script type="text/javascript" src="assets/js/flexslider.js"></script>
</body>
<footer id="footer">
  <div class="container">
    <div class="row info">
      <div class="col-sm-12 residence">
        <ul>
          <li><p align="center">Avenida Almirante Tamandaré, 94 - Sala 1007 - Coqueiros</p></li>
          <li><p align="center">Florianópolis, SC, Brasil - CEP 88.080-160 - (48) 3037-1200</p></li>
        </ul>
      </div>
    </div>
    <div class="row credits">
      <div class="col-md-12">
        <div class="row social">
          <div class="col-md-12">
            <a href="https://www.facebook.com/pages/All-Care-Solu%C3%A7%C3%B5es-Empresariais/337194383122837" class="facebook">
              <span class="socialicons ico1"></span>
              <span class="socialicons_h ico1h"></span>
            </a>

          </div>
        </div>
        <div class="row copyright">
          <div class="col-md-12">

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</html>